<div class="row">
    <notifier-container></notifier-container>
    <div class="col-md-12">
        <!--- Complete Table -->
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex mt-3">
                    <input type="text" placeholder="Search" class="form-control w-auto" [(ngModel)]="csearchTerm" />
                    <button type="button" class="btn btn-primary ml-auto" (click)="openFirmModal(editModal, null)">+ Add
                        Firm</button>
                </div>
                <div class="table-responsive" *ngIf="!isLoading">
                    <table class="table table-striped no-wrap border mt-4">
                        <thead>
                            <tr>
                                <th *ngFor="let item of FIRM_COLUMN">{{item.name}}</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let firm of firmData">
                                <td *ngFor="let item of FIRM_COLUMN">
                                    <ngb-highlight [result]="firm[item.id]" [term]="csearchTerm"></ngb-highlight>
                                </td>
                                <td>
                                    <i class="ti-pencil text-info m-r-10 pointer"
                                        (click)="openFirmModal(editModal, firm)"></i>
                                    <i class="ti-trash text-danger pointer" (click)="showDeleteFirm(deleteFirmModal, firm.firmId);"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [(page)]="cpage" [pageSize]="cpageSize"
                            [collectionSize]="totalLengthOfCollection"></ngb-pagination>
                        <select class="custom-select" style="width: auto" [(ngModel)]="cpageSize">
                            <option [ngValue]="2">2 items per page</option>
                            <option [ngValue]="4">4 items per page</option>
                            <option [ngValue]="6">6 items per page</option>
                        </select>
                    </div> -->
                </div>
                <app-loader *ngIf="isLoading"></app-loader>
            </div>
        </div>
    </div>
</div>
<!--- Modal for complete Table -->
<ng-template #editModal let-modal>

    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">{{editAddLabel}} Firm</h5>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
         <ngb-alert *ngIf="isServiceError" [type]="'danger'" (closed)="isServiceError=false">{{MESSAGES.serviceError}}</ngb-alert>
        <form [formGroup]="editClient" (ngSubmit)="saveFirms()">


            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Full Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="name" id="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="mobileNumber" class="col-sm-4 col-form-label">Mobile Number</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="mobileNumber" id="mobileNumber">
                </div>
            </div>
            <div class="form-group row">
                <label for="emailId" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" formControlName="emailId" id="emailId">
                </div>
            </div>
                <div class="form-group row">
                    <label for="state" class="col-sm-4 col-form-label">State</label>
                    <div class="col-sm-8">
                        <!-- <input type="text" class="form-control" formControlName="state" id="state"> -->
                        <app-typehead controlName="state" iid="state" placeholder="Select State"
                     [formGroup]="editClient" [isRequired]="true" ngDefaultControl [dropdownData]="statesArr"
                     (valueChange)='stateChangeEvent($event)'></app-typehead>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="district" class="col-sm-4 col-form-label">District</label>
                    <div class="col-sm-8">
                        <app-typehead controlName="district" iid="district" placeholder="Select District"
                        [formGroup]="editClient" [isRequired]="true" [dropdownData]="districtList"
                        (valueChange)='districtChangeEvent($event)' ngDefaultControl></app-typehead>
                        <!-- <input type="text" class="form-control" formControlName="district" id="district"> -->
                    </div>
                </div>

            <div class="form-group row">
                <label for="city" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <app-typehead controlName="city" iid="city" [dropdownData]="cityList" placeholder="Select City"
                     [formGroup]="editClient" [isRequired]="true" ngDefaultControl></app-typehead>
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="address" id="address">
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="closeBtnClick()">Close</button>

                <button *ngIf="!isLoading" type="submit" class="btn btn-primary"
                    [disabled]="editClient.invalid">Save</button>
                <div *ngIf="isLoading" class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!--- Modal for complete Table -->

<!--- Modal for complete Table -->
<ng-template #deleteFirmModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editLabel">Delete Firm</h5>
        <button type="button" class="close" (click)="closeBtnClick()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <ngb-alert *ngIf="isServiceError" [type]="'danger'" (closed)="isServiceError=false">{{MESSAGES.serviceError}}</ngb-alert>
        <p>Are you sure you want to delete firm?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="closeBtnClick()">Cancel</button>
        <button type="submit" class="btn btn-primary" (click)="confirDeleteFirm()">Delete</button>
    </div>
</ng-template>
<!--- Modal for complete Table -->